<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="booksMapper">
<!-- 내 서재에 insert -->
    <insert id="libinsert">
        insert into MYLIBRARY(id, userId, isbn)
        VALUES (book_seq.nextval, #{userId}, #{isbn})
    </insert>

    <!-- 내 서재에 select -->
    <select id="libselect" resultMap="myLibDTO">
        select a.id
             , a.isbn
             , a.userId
             , b.title
             , b.image
        from MYLIBRARY a
                 INNER JOIN BOOKS B
                            on a.isbn = b.isbn
        WHERE a.userId = #{userId}

    </select>

    <resultMap id="myLibDTO" type="com.ebook.mylib.dto.MyLibDTO">
        <id property="id" column="id"/>
        <result property="userId" column="userId"/>
        <result property="isbn" column="isbn"/>
        <collection property="apiDTO" javaType="ApiDTO">
            <result property="title" column="title"/>
            <result property="image" column="image"/>
        </collection>
    </resultMap>





</mapper>
