<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Book">

   <!-- 도서 목록 -->
  <select id="Booklist" resultType="com.ebook.manage.vo.BookVo">
        SELECT BOOKKEY,IMAGE, TITLE, AUTHOR, ISBN,PUBLISHER     
        FROM BOOKS
        ORDER BY BOOKKEY DESC
  </select>
    
    <!-- 도서 내용 보기 -->
   <select id="BookView" resultType="com.ebook.manage.vo.BookVo">
            SELECT BOOKKEY,
                   IMAGE,
                   TITLE,
                   AUTHOR,
                   PUBLISHER,
                   ISBN,
                   DESCRIPTION
            FROM   BOOKS 
            WHERE  
		        BOOKKEY = #{bookkey}
   </select>
   
   <insert id="BookInsert">
   
       INSERT INTO  BOOKS(BOOKKEY, IMAGE, TITLE, AUTHOR, PUBLISHER,ISBN,DESCRIPTION)    
       VALUES(BOOK_SEQ.NEXTVAL,#{image},#{title},#{author},#{publisher},#{isbn},#{description}
       
       )
         

   </insert>
   
   
   <!--  도서 수정 -->
   <update id="BookUpdate">
       UPDATE BOOKS                 
       SET    TITLE = #{title},          
              AUTHOR = #{author},
              PUBLISHER = #{publisher},
              ISBN = #{isbn},
              DESCRIPTION = #{description}
       WHERE 
       		BOOKKEY = #{bookkey}
       
   
   </update>

   <delete id="BookDelete">
       DELETE
       FROM BOOKS
       WHERE BOOKKEY =#{bookkey} 
  </delete>

</mapper>
